.Border-login form label{
    font-size:16px;
    font-family: "Open Sans", sans-serif;
}
body {
    padding:5%;
    background-color:#1a1a1a;
}
.quad_login {
    background-color: #1e831ece;
    display:flex;
    flex-direction:column;
    justify-content: center;
    border-radius: 6px;
    padding: 70px;
}

.aligment{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.aligment img{
    height:98%;
    border-radius:5px;
}
.quad_login header{
    display: flex;
    justify-content: center;
}

.Border-login form, label, div, input {
    margin:8px 0;
}

form input{
    height:25px;

}


.botao_entrar{
    width:100%;
    color:white;
}
button{
    background-color:black;
    border:none;
}
.texto_registre, .link_registre, .botao_entrar{
    font-size: 12px;

}

form div, input{
    width: 100%;
    border:none;
}
